*.deb
*.html
*.log
*.retry
*.rpm
*suid.list
.ansible
.cache
.env.yml
.scannerwork
.sonar
.tox
.vagrant
.yamllint
hosts
roles/*
!roles/adduser
!roles/aide
!roles/apparmor
!roles/apport
!roles/auditd
!roles/automatic_updates
!roles/compilers
!roles/cron
!roles/ctrlaltdel
!roles/disable_ipv6
!roles/disable_wireless
!roles/issue
!roles/journald
!roles/kernel
!roles/netplan
!roles/root_access
!roles/ssh
!roles/sudo
!roles/tcpwrappers
