!roles/adduser
!roles/aide
!roles/apparmor
!roles/apport
!roles/auditd
!roles/automatic_updates
!roles/compilers
!roles/cron
!roles/ctrlaltdel
!roles/delete_users
!roles/disable_ipv6
!roles/disable_wireless
!roles/issue
!roles/journald
!roles/kernel
!roles/limits
!roles/lock_root
!roles/login_defs
!roles/logindconf
!roles/motd_news
!roles/mount
!roles/netplan
!roles/root_access
!roles/ssh
!roles/sudo
!roles/tcpwrappers
.ansible/
.cache
.env
.env.yml
.nox
.tox
.vagrant
.venv
.yamllint
ansible.cfg
roles/*
