#jinja2: trim_blocks: True, lstrip_blocks: True
# Managed by Ansible role {{ ansible_role_name }}

[Time]
NTP={{ timesyncd_ntp | join(' ') }}
FallbackNTP={{ timesyncd_fallback_ntp | join(' ') }}
{% if ansible_facts.systemd.version | int >= 236 %}
RootDistanceMaxSec=1
{% endif %}
