#jinja2: trim_blocks: True, lstrip_blocks: True
# Managed by Ansible role {{ ansible_role_name }}

[Login]
KillUserProcesses={{ 'true' if logindconf_logind.killuserprocesses else 'false' }}
KillExcludeUsers={{ logindconf_logind.killexcludeusers | join(' ') }}
IdleAction={{ logindconf_logind.idleaction }}
IdleActionSec={{ logindconf_logind.idleactionsec }}
RemoveIPC={{ 'true' if logindconf_logind.removeipc else 'false' }}
{% if ansible_facts.virtualization_type not in ["container", "docker", "podman"] and ansible_facts.systemd.version | int >= 252 %}
StopIdleSessionSec={{ logindconf_session_timeout }}
{% endif %}
